/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Unica+One');

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Unica One', cursive;
  font-size: 5em;
  letter-spacing: 5px;
  text-align: center;
}

h2 {
  font-family: 'Unica One', cursive;
  font-size: 3em;
}

h3,
p {
  font-family: 'Unica One', cursive;
  font-size: 1.5em;
}

hr {
  border: 3px solid #000;
}

.container {
  background: #567;
  height: 100vh;
  width: 100%;
}

.image {
  position: fixed;
  top: 40em;
  right: 10em;
}

.section {
  padding: 13em;
  height: 100vh;
  width: 100%;
}

.overlay {
  position: fixed;
  border: 1px solid #000;
  top: 20%;
  left: 10%;
  height: 60vh;
  width: 80%;
  z-index: 1;
}

.bounce {
  position:fixed;
  left:50%;
  bottom:0;
  margin-top:-25px;
  margin-left:-25px;
  height: 100px;
  width: 150px;
  background-image: url("../img/down.png");
  background-repeat: no-repeat;
  -webkit-animation:bounce 1s infinite;
  -moz-animation:bounce 1s infinite;
  -o-animation:bounce 1s infinite;
  animation:bounce 1s infinite;

}

@-webkit-keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

 @-moz-keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

 @-o-keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}

 @keyframes bounce {
  0%       { bottom:0px; }
  50%      { bottom:15px; }
  100%     {bottom:30;}
}
