/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Unica+One');

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Unica One', cursive;
  font-size: 5em;
  letter-spacing: 5px;
  text-align: center;
}

h2 {
  font-family: 'Unica One', cursive;
  font-size: 3em;
}

h3 {
  font-family: 'Unica One', cursive;
}

hr {
  border: 3px solid #000;
}

p {
  font-family: 'Unica One', cursive;
}

.container {
  background: #567;
  height: 100vh;
  width: 100%;
}

.image {
  position: fixed;
  top: 40em;
  right: 10em;
}

.section {
  padding: 13em;
  height: 100vh;
  width: 100%;
}

.overlay {
  position: fixed;
  border: 1px solid #000;
  top: 20%;
  left: 10%;
  height: 60vh;
  width: 80%;
  z-index: 1;
}
